<div id="create-new-lab-container">
<h1>Create a New Lab</h1>

<input id="lab-title" placeholder="lab title"/><br>
<textarea id="lab-description" placeholder="lab description"></textarea><br>
<input id="lab-video-url" placeholder="Youtube URL"/><br>

<button id="create-lab-button">Create Lab</button>

</div>

<style>
  #create-new-lab-container{
      margin: 0 auto;
      height: 400px;
      width: 250px;
  }

  textarea{
      margin: 5px auto;
      width: 200px;
      height: 200px;
      resize: none;
  }

  input{
      margin: 5px auto;
      width: 200px;
      height: 25px;
  }

  button{
      width: 200px;
      height: 35px;
  }
</style>