<h1>Login</h1>
<input id="login-email" placeholder="email"/></br>
<input id="login-password" placeholder="password" type="password"/></br>
<button id="login-button">Login</button></br>
<input type="checkbox" id="login-remember-me" name="remember-me" value="true"> Remember Me</br>