<div id="login-container">
<h1>Login</h1>
<input id="login-email" class="login-input" placeholder="email"/></br>
<input id="login-password" class="login-input" placeholder="password" type="password"/></br>
<button id="login-button">Login</button></br>
<input type="checkbox" id="login-remember-me" name="remember-me" value="true"> Remember Me</br>
</div>