<h1>Signup</h1>
<input id="signup-full-name" placeholder="full name (first & last)"/></br>
<input id="signup-email" placeholder="email"/></br>
<input id="signup-password" placeholder="password" type="password"/></br>
<input id="signup-confirm-password" placeholder="confirm password" type="password"/></br>
<input id="signup-show-password" type="checkbox" value="show"/> Show password</br>
<button id="signup-button">SignUp</button>