<% if controller.action_name == 'landing' %>

<footer>
    <div id="social-media-container">

    </div>
</footer>

<style>
  footer{
      width: 100%;
      height: 100px;
      background-color: #1E1E1E;
  }

  #social-media-container{
      height: 100%;
      width: 300px;
  }
</style>

<% end %>