<% if controller.action_name == 'landing' %>

    <%= stylesheet_link_tag 'footer' %>

    <footer id="site-navigation-footer">

      <div id="site-footer-content">

        <div id="site-license-container" class="vert-align"><span>Andromedai, 2015</span></div>

        <div id="footer-content-container" >
          <span class="vert-align"><a href="support.html" target="_blank">Support</a></span>
          <span class="vert-align"><a href="terms_of_service.html" target="_blank">Terms of Service</a></span>
        </div>

        <div id="social-media-container">
          <a href="https://www.facebook.com" target="_blank" class="vert"><div id="facebook-icon" class="social-media-icon-div"></div></a>
          <a href="https://www.twitter.com" target="_blank"><div id="twitter-icon" class="social-media-icon-div"></div></a>
        </div>
      </div>

    </footer>

<style>
  footer{
      width: 100%;
      height: 100px;
      background-color: #1E1E1E;
  }

  #social-media-container{
      height: 100%;
      width: 300px;
  }
</style>

<% end %>